In [29]:
import pandas as pd
import time

In [30]:
table = pd.read_csv("tmp.csv")

In [22]:
table.head()

     0    1    2    3
0  631  599  778  282
1  820  147  455  552
2  372  648  754  320
3  628  846  378  275
4  892  732  668  447

In [23]:
table.shape

(108, 4)

In [24]:
start = time.time()
table = pd.read_csv("tmp.csv")
end = time.time()
print("Time taken without chunk: ", (end - start), "sec")

Time taken without chunk:  0.0019941329956054688 sec

In [28]:
start = time.time()
for chunk in pd.read_csv("tmp.csv", chunksize = 10):
    print(chunk)
end = time.time()
print("Time taken with chunk: ", (end - start), "sec")

     0    1    2    3
0  631  599  778  282
1  820  147  455  552
2  372  648  754  320
3  628  846  378  275
4  892  732  668  447
5  894  143  548  434
6  860  220  653  489
7  253  594  767  156
8  802  675  557  625
9  232   82  728    2
      0    1    2    3
10  796  170  749  692
11  846  788  490  714
12  474   77  116  543
13  730  672  874  406
14  564  405  378  730
15  257  861  895  169
16   55  520  982  816
17  631  599  778  282
18  820  147  455  552
19  372  648  754  320
      0    1    2    3
20  628  846  378  275
21  892  732  668  447
22  894  143  548  434
23  860  220  653  489
24  253  594  767  156
25  802  675  557  625
26  232   82  728    2
27  796  170  749  692
28  846  788  490  714
29  474   77  116  543
      0    1    2    3
30  730  672  874  406
31  564  405  378  730
32  257  861  895  169
33   55  520  982  816
34  631  599  778  282
35  820  147  455  552
36  372  648  754  320
37  628  846  378  275
38  892  732  668  447
39  894  143  548  434
      0    1    2    3
40  860  220  653  489
41  253  594  767  156
42  802  675  557  625
43  232   82  728    2
44  796  170  749  692
45  846  788  490  714
46  474   77  116  543
47  730  672  874  406
48  564  405  378  730
49  257  861  895  169
      0    1    2    3
50   55  520  982  816
51  631  599  778  282
52  820  147  455  552
53  372  648  754  320
54  628  846  378  275
55  892  732  668  447
56  894  143  548  434
57  860  220  653  489
58  253  594  767  156
59  802  675  557  625
      0    1    2    3
60  232   82  728    2
61  796  170  749  692
62  846  788  490  714
63  474   77  116  543
64  730  672  874  406
65  564  405  378  730
66  257  861  895  169
67   55  520  982  816
68  232   82  728    2
69  796  170  749  692
      0    1    2    3
70  846  788  490  714
71  474   77  116  543
72  730  672  874  406
73  564  405  378  730
74  257  861  895  169
75   55  520  982  816
76  232   82  728    2
77  796  170  749  692
78  846  788  490  714
79  474   77  116  543
      0    1    2    3
80  730  672  874  406
81  564  405  378  730
82  257  861  895  169
83   55  520  982  816
84  232   82  728    2
85  796  170  749  692
86  846  788  490  714
87  474   77  116  543
88  730  672  874  406
89  564  405  378  730
      0    1    2    3
90  257  861  895  169
91   55  520  982  816
92  232   82  728    2
93  796  170  749  692
94  846  788  490  714
95  474   77  116  543
96  730  672  874  406
97  564  405  378  730
98  257  861  895  169
99   55  520  982  816
       0    1    2    3
100  232   82  728    2
101  796  170  749  692
102  846  788  490  714
103  474   77  116  543
104  730  672  874  406
105  564  405  378  730
106  257  861  895  169
107   55  520  982  816
Time taken with chunk:  0.03191351890563965 sec